workflows/GgLRYrosmU7FDQBo.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-09T12:29:02.581Z",
  "id": "GgLRYrosmU7FDQBo",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "98b79d3c-8097-408d-bebb-f163ddf32b86",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47333e3b-1085-4e78-a3cb-4779780b8479",
              "name": "url",
              "value": "https://youtube.com/shorts/oTOk-13GNsA?si=92tD4rfrXZatSWsP",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "08aa9cc1-aec3-4400-94db-5b12ffbbb709",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.captions.ai/v1/projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.video_url }}\",\n  \"features\": {\n    \"auto_captions\": true,\n    \"auto_trim\": true,\n    \"b_roll\": true\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "d4a5f90d-a69c-49ba-93ec-89c066199c11",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ISRxkE3begJLNFHy",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        608,
        16
      ],
      "id": "ee678faa-e171-4d32-8373-08b816805570",
      "name": "Wait",
      "webhookId": "a18fe589-fa8c-4944-9224-dcaf3ac03855"
    },
    {
      "parameters": {
        "url": "=https://api.captions.ai/v1/projects/{{$json.job_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        16
      ],
      "id": "6b190af5-abed-4e64-bcc0-3fef9702a054",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ISRxkE3begJLNFHy",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-09T12:29:02.612Z",
      "updatedAt": "2025-10-09T12:29:02.612Z",
      "role": "workflow:owner",
      "workflowId": "GgLRYrosmU7FDQBo",
      "projectId": "pU2j9nE4cp6SFzch"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-12T18:03:07.000Z",
  "versionId": "54d01dea-9b5d-4399-b331-68e028b4b984"
}